<div class="container">
    <div class="container-fluid">
        <h1 *ngIf="this.activeUserId != this.id; else sameUser">Update user with id: {{this.id}}</h1>
        <ng-template #sameUser>
            <h1>Update My Profile</h1>
        </ng-template>

        <!-- Error message -->
        <div *ngIf="this.updateErrorMessage"
            class="alert alert-danger" 
            style="display: flex; justify-content: space-between; align-items: center;">
            <div class="aler alert-danger">
                {{ this.updateErrorMessage }}
            </div>
            <input class="btn btn-danger" type="button" value="Ok" (click)="dangerOk()">
        </div>

        <!-- Form -->
        <form 
            name="form"
            [formGroup]="form"
            (ngSubmit)="$event.preventDefault(); submitForm()"
        >

            <!-- username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    name="username" 
                    class="form-control" 
                    placeholder="Username"
                    formControlName="username"
                    autocomplete="off"
                />

                <!-- Error messages -->
                <div *ngIf="form.get('username')?.invalid 
                        && (form.get('username')?.dirty || form.get('username')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('username')?.hasError('required')"
                        >Username is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('username')?.hasError('minlength')"
                        >Username needs to be at least 2 characters
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('username')?.hasError('maxlength')"
                        >Username needs to be at most 20 characters
                    </small>
                </div>
            </div>

            <!-- password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    autocomplete="new-password"
                />

                <!-- Error messages -->
                <div *ngIf="form.get('password')?.invalid 
                            && (form.get('password')?.dirty || form.get('password')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('password')?.hasError('required')"
                        >Password is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('password')?.hasError('minlength')"
                        >Password needs to be at least 8 characters
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('password')?.hasError('maxlength')"
                        >Password needs to be at most 120 characters
                    </small>
                </div>

            </div>

            <!-- verify password -->
            <div class="form-group">
                <label for="verifyPassword">Verify Password</label>
                <input 
                    type="password"
                    name="verifyPassword"
                    class="form-control"
                    placeholder="Verify Password"
                    formControlName="verifyPassword"
                    autocomplete="new-password"
                />                
            </div>

            <!-- Error messages -->
            <div *ngIf="form.get('verifyPassword')?.invalid 
                    && (form.get('verifyPassword')?.dirty || form.get('verifyPassword')?.touched)">
                <small 
                    class="text-danger"
                    *ngIf="form.get('verifyPassword')?.hasError('required')"
                    >Password confirmation is required
                </small>
            </div>
            <small 
                class="text-danger"
                *ngIf="form.hasError('noMatch')"
                >Passwords don't match
            </small>

            <!-- email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="myemail@gmail.com"
                    formControlName="email"
                    autocomplete="off"
                />

                <!-- Error messages -->
                <div *ngIf="form.get('email')?.invalid 
                        && (form.get('email')?.dirty || form.get('email')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('email')?.hasError('required')"
                        >Email is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('email')?.hasError('email')"
                        >Invalid email
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('email')?.hasError('maxlength')"
                        >Email needs to be at most 50 characters
                    </small>
                </div>
            </div>

            <!-- roles -->
            <div class="form-group">
                <!-- role1 -->
                <div class="form-check form-check-inline">
                    <input 
                        id="role1"
                        name="role1"
                        value="admin"
                        type="checkbox"
                        class="form-check-input"
                        formControlName="role1"
                    >
                    <label class="form-check-label" for="role1">Admin</label>
                </div>
                <!-- role2 -->
                <div class="form-check form-check-inline">
                    <input 
                        id="role2"
                        name="role2"
                        value="lawyer"
                        type="checkbox"
                        class="form-check-input"
                        formControlName="role2"
                    >
                    <label class="form-check-label" for="role2">Lawyer</label>
                </div>
                <!-- role3 -->
                <div class="form-check form-check-inline">
                    <input 
                        id="role3"
                        name="role3"
                        value="notary"
                        type="checkbox"
                        class="form-check-input"
                        formControlName="role3"
                    >
                    <label class="form-check-label" for="role3">Notary</label>
                </div>
                <!-- role4 -->
                <div class="form-check form-check-inline">
                    <input 
                        id="role4"
                        name="role4"
                        value="client"
                        type="checkbox"
                        class="form-check-input"
                        formControlName="role4"
                    >
                    <label class="form-check-label" for="role4">Client</label>
                </div>
            </div>


            <!-- firstName -->
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input 
                    type="text"
                    name="firstName" 
                    class="form-control"
                    placeholder="firstName"
                    formControlName="firstName"
                    autocomplete="off"
                />

                <!-- Error messages -->
                <div *ngIf="form.get('firstName')?.invalid 
                        && (form.get('firstName')?.dirty || form.get('firstName')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('firstName')?.hasError('required')"
                        >First name is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('firstName')?.hasError('minlength')"
                        >First name needs to be at least 2 characters
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('firstName')?.hasError('maxlength')"
                        >First name needs to be at most 20 characters
                    </small>
                </div>
            </div>

            <!-- lastName -->
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input 
                    type="text"
                    name="lastName"
                    class="form-control"
                    placeholder="lastName"
                    formControlName="lastName"
                    autocomplete="off"
                />
                
                <!-- Error messages -->
                <div *ngIf="form.get('lastName')?.invalid 
                        && (form.get('lastName')?.dirty || form.get('lastName')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('lastName')?.hasError('required')"
                        >Last name is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('lastName')?.hasError('minlength')"
                        >Last name needs to be at least 2 characters
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('lastName')?.hasError('maxlength')"
                        >Last name needs to be at most 20 characters
                    </small>
                </div>

            </div>

            <!-- afm -->
            <div class="form-group">
                <label for="afm">Afm</label>
                <input 
                    name="afm"
                    type="text"
                    class="form-control"
                    placeholder="9 digits"
                    formControlName="afm"
                    autocomplete="off"
                />
                
                <!-- Error messages -->
                <div *ngIf="form.get('afm')?.invalid 
                    && (form.get('afm')?.dirty || form.get('afm')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('afm')?.hasError('required')"
                        >Afm is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('afm')?.hasError('minlength') 
                        || form.get('afm')?.hasError('maxlength') 
                        || form.get('afm')?.hasError('pattern')"
                        >Afm needs to have exactly 9 numbers
                    </small>
                </div>
            </div>

            <!-- amka -->
            <div class="form-group">
                <label for="amka">Amka</label>
                <input 
                    type="text"
                    name="amka"
                    class="form-control"
                    placeholder="11 digits"
                    formControlName="amka"
                    autocomplete="off"
                />
                
                <!-- Error messages -->
                <div *ngIf="form.get('amka')?.invalid 
                    && (form.get('amka')?.dirty || form.get('amka')?.touched)">
                    <small 
                        class="text-danger"
                        *ngIf="form.get('amka')?.hasError('required')"
                        >Amka is required
                    </small>

                    <small 
                        class="text-danger"
                        *ngIf="form.get('ammka')?.hasError('minlength') 
                        || form.get('amka')?.hasError('maxlength') 
                        || form.get('amka')?.hasError('pattern')"
                        >Amka needs to have exactly 11 numbers
                    </small>
                </div>
            </div>

            <button 
                type="submit"
                class="btn btn-primary btn-lg btn-block"
                [disabled]="form.invalid"
                >Submit
            </button>

            <button 
                type="button"
                class="btn btn-danger btn-lg btn-block"
                [routerLink]="['/users']"
                >Cancel
            </button>

        </form>
    </div>
</div>