<div class="container">
  <div class="container-fluid">
    <h1>Contract List</h1>
    <div > <!--*ngif="loggedIn"-->
      <div *ngIf="contractList!.length > 0 else elseBlock">

        <!-- maybe add table-responsive -->
        <table class="table table-dark table-striped table-bordered table-hover ">
          
          <thead class="thead-dark">
            <tr class="tr1">
              <th>ID</th>
              <th>Text</th>
              <th>Date Created</th>
              <th>Date Confirmed</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let tempContract of contractList">
              <td>{{ tempContract.id}}</td>
              <td>{{ tempContract.text }}</td>
              <td>{{ tempContract.dateCreated | date: 'medium' }}</td>
              <td>{{ tempContract.dateApproved | date: 'medium' }}</td>
              <td>{{ tempContract.status }}</td>
              <td>
                <button type="button" 
                        class="btn btn-primary"
                        *ngIf="notary"
                        (click)="viewContractNotary(tempContract.id)"
                        >View
                </button>

                <button type="button" 
                        class="btn btn-danger" 
                        (click)="deleteContract(tempContract)"
                        *ngIf="admin && tempContract.status.includes('Approved')">Delete</button>

                <button type="button" 
                        class="btn btn-danger" 
                        (click)="forceDeleteContract(tempContract)"
                        *ngIf="admin && !tempContract.status.includes('Approved')">Force Delete</button>
              </td>
            </tr>
          </tbody>

        </table>

      </div>

      <!-- no contracts message -->
      <ng-template #elseBlock>
        <div class="no-contracts">
          There are no contracts
        </div>
      </ng-template>

    </div>
  </div>
</div>