<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a 
    tabindex="-1" 
    class="navbar-brand" 
    routerLink=""
    >DevOps
  </a>
  <button 
    class="navbar-toggler"
    type="button" 
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    
    <span 
      class="navbar-toggler-icon">
    </span>
  </button>

  <div class="collapse navbar-collapse justify-content-end ms-auto" 
    id="navbarSupportedContent">
    <ul *ngIf="loggedIn" 
        class="navbar-nav"
        routerLinkActive="active">
        <li class="nav-item active underline">
          <a 
            class="nav-link"
            routerLink="">
              <span class="home-text"
                >Home
              </span>
            </a>
        </li>
        <li class="nav-item underline">
          <a href class="nav-link" (click)="logout()"><span class="logout-text">Logout</span></a>
        </li>
      </ul>
   </div>
</nav>