<!-- Login Form -->
<div class="center">
  <h1>Login</h1>
  <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <!-- Username -->
    <div class="txt-field">
      <input type="text" name="username" [(ngModel)]="form.username" required #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
      <span></span>
      <label for="username">Username</label>
      <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
        Username is required!
      </div>
    </div>

    <!-- Password -->
    <div class="txt-field">
      <input type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
      <span></span>
      <label for="password">Password</label>
      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <!-- Login Button -->
    <input type="submit" value="Login">

    <div class="form-group">
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
        Login failed: {{ errorMessage }}
      </div>
    </div>

  </form>

</div>

