<div class="container">
  <div class="container-fluid">
    <h1>Contract List</h1>
    <div *ngIf="isLoggedIn">
      <div *ngIf="contractList!.length > 0 else elseBlock">
        <!-- maybe add table-responsive -->
      <table class="table table-dark table-striped table-bordered table-hover ">
        <thead class="thead-dark">
          <tr class="tr1">
            <th>ID</th>
            <th>Text</th>
            <th>Date Created</th>
            <th>Date Confirmed</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let tempContract of contractList">
            <td>{{ tempContract.id}}</td>
            <td>{{ tempContract.text }}</td>
            <td>{{ tempContract.dateCreated }}</td>
            <td>{{ tempContract.dateApproved }}</td>
            <td>{{ tempContract.status }}</td>
            <td>
              <button type="button" class="btn btn-primary" 
                 (click)="viewContractNotary(tempContract.id)"
                *ngIf="isNotary">View</button>
    
              <button type="button" class="btn btn-danger" 
                (click)="deleteContract(tempContract.id)" 
                *ngIf="isAdmin && tempContract.status.includes('Approved')">Delete</button>
    
              <button type="button" class="btn btn-danger" 
                (click)="forceDelete(tempContract.id)" 
                *ngIf="isAdmin && tempContract.status.includes('In Progress')">Force Delete</button>
            </td>
          </tr> 
        </tbody>
      </table>
      </div>
      <ng-template #elseBlock>
        <div class="noContracts">
          There are no contracts
        </div>
      </ng-template>
    </div>
  </div>
</div>