<div class="container">

    <!-- Form -->
    <div class="container-fluid">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Create a new User</h1>

            <!-- username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" [(ngModel)]="form.username" placeholder="Username" required
                    minlength="2" maxlength="20" #username="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && username.errors }" class="form-control" />

                <span></span>

                <!-- username errors -->
                <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="username.errors['required']">Username is required</div>
                    <div *ngIf="username.errors['minlength']">Username must be at least 2 characters</div>
                    <div *ngIf="username.errors['maxlength']">Username must be at most 20 characters</div>
                </div>

            </div>

            <!-- password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="form.password" placeholder="Password" required
                    minlength="8" maxlength="120" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }" class="form-control" />

                <span></span>

                <!-- password errors -->
                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">Password must be at least 8 characters</div>
                    <div *ngIf="password.errors['maxlength']">Password must be at most 120 characters</div>
                </div>
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" [(ngModel)]="form.email" placeholder="sleepyJoe69@gmail.com" email
                    required minlength="10" maxlength="50" #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.errors }" class="form-control" />

                <span></span>

                <!-- email errors -->
                <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">Invalid email</div>
                    <div *ngIf="email.errors['minlength']">Email must be at least 10 characters</div>
                    <div *ngIf="email.errors['maxlength']">Email must be at most 120 characters</div>
                </div>
            </div>

            <!-- roles -->
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role1" [(ngModel)]="form.role1" type="checkbox" id="role1"
                        value="admin" #role1="ngModel">
                    <label class="form-check-label" for="role1">Admin</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role2" [(ngModel)]="form.role2" type="checkbox" id="role2"
                        value="lawyer" #role2="ngModel">
                    <label class="form-check-label" for="role2">Lawyer</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role3" [(ngModel)]="form.role3" type="checkbox" id="role3"
                        value="notary" #role3="ngModel">
                    <label class="form-check-label" for="role3">Notary</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role4" [(ngModel)]="form.role4" type="checkbox" id="role4"
                        value="client" #role4="ngModel">
                    <label class="form-check-label" for="role4">Client</label>
                </div>
            </div>


            <!-- firstName -->
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" [(ngModel)]="form.firstName" placeholder="Joe" required
                    minlength="2" maxlength="20" #firstName="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }" class="form-control" />

                <span></span>


                <!-- firstName errors -->
                <div *ngIf="firstName.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="firstName.errors['required']">First Name is required</div>
                    <div *ngIf="firstName.errors['minlength']">First Name must be at least 2 characters</div>
                    <div *ngIf="firstName.errors['maxlength']">First Name must be at most 20 characters</div>
                </div>
            </div>

            <!-- lastName -->
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" [(ngModel)]="form.lastName" placeholder="Biden"
                    required minlength="2" maxlength="20" #lastName="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }" />
                <span></span>

                <!-- lastName errors -->
                <div *ngIf="lastName.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="lastName.errors['required']">Last Name is required</div>
                    <div *ngIf="lastName.errors['minlength']">Last Name must be at least 2 characters</div>
                    <div *ngIf="lastName.errors['maxlength']">Last Name must be at most 20 characters</div>
                </div>
            </div>

            <!-- afm -->
            <div class="form-group">
                <label for="afm">Afm</label>
                <input (keypress)="numberOnly($event)" class="form-control" type="text" name="afm"
                    [(ngModel)]="form.afm" placeholder="9 digit integer (for example: 123456789)" required minlength="9"
                    maxlength="9" #afm="ngModel" [ngClass]="{ 'is-invalid': f.submitted && afm.errors }" />
                <span></span>

                <!-- afm errors -->
                <div *ngIf="afm.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="afm.errors['required']">Afm is required</div>
                    <div *ngIf="afm.errors['minlength']">Afm must be 9 digits</div>
                    <div *ngIf="afm.errors['maxlength']">Afm must be 9 digits</div>
                </div>
            </div>

            <!-- amka -->
            <div class="form-group">
                <label for="amka">Amka</label>
                <input (keypress)="numberOnly($event)" class="form-control" type="text" name="amka"
                    [(ngModel)]="form.amka" placeholder="11 digit integer (for example: 12345678910)" required
                    minlength="11" maxlength="11" #amka="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && amka.errors }" />
                <span></span>

                <!-- amka errors -->
                <div *ngIf="amka.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="amka.errors['required']">Amka is required</div>
                    <div *ngIf="amka.errors['minlength']">Amka must be 11 digits</div>
                    <div *ngIf="amka.errors['maxlength']">Amka must be 11 digits</div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
</div>