<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home" routerLink="home">Project App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end ms-auto" id="navbarSupportedContent">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item active underline">
        <a class="nav-link" routerLink="home"><span class="home-text">Home</span></a>
      </li>
      <li class="nav-item underline" *ngIf="!isLoggedIn">
        <a class="nav-link" href="/login" routerLink="login"><span class="login-text">Login</span></a>
      </li>
      <li class="nav-item underline" *ngIf="isLoggedIn">
        <a href class="nav-link" (click)="logout()"><span class="logout-text">Logout</span></a>
      </li>
    </ul>
    
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>