<div class="container">
    
    <!-- Form -->
    <div class="container-fluid">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Create a Contract</h1>
            
            <div class="container">
                <!-- Member 1 afm -->
                <div class="form-group">
                    
                    <label for="afm1">Member 1 afm</label>
    
                    <input (keypress)="numberOnly($event)" type="text" name="afm1" [(ngModel)]="form.afm1" required
                        minlength="9" maxlength="9" #afm1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && afm1.errors }"
                        class="form-control" placeholder="Afm must be 9 digits (ex. 123456789)"/>
    
                    <span></span>
    
                    <div *ngIf="afm1.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="afm1.errors['required']">Member 1 afm is required</div>
                        <div *ngIf="afm1.errors['minlength']"> Afm must be 9 digits</div>
                        <div *ngIf="afm1.errors['maxlength']">Afm must be 9 digits</div>
                    </div>
    
                </div>
    
                <!-- Member 2 afm -->
                <div class="form-group">
                    <label for="afm2">Member 2 afm</label>
    
                    <input (keypress)="numberOnly($event)" type="text" name="afm2" [(ngModel)]="form.afm2" required
                        minlength="9" maxlength="9" #afm2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && afm2.errors }"
                        class="form-control" placeholder="Afm must be 9 digits (ex. 123456789)"/>
    
                    <span></span>
    
                    <div *ngIf="afm2.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="afm2.errors['required']">Member 2 afm is required</div>
                        <div *ngIf="afm2.errors['minlength']"> Afm must be 9 digits</div>
                        <div *ngIf="afm2.errors['maxlength']">Afm must be 9 digits</div>
                    </div>
                </div>
    
                <!-- Member 3 afm -->
                <div class="form-group">
                    <label for="afm2">Member 3 afm</label>
    
                    <input (keypress)="numberOnly($event)" type="text" name="afm3" [(ngModel)]="form.afm3" required
                        minlength="9" maxlength="9" #afm3="ngModel" [ngClass]="{ 'is-invalid': f.submitted && afm3.errors }"
                        class="form-control" placeholder="Afm must be 9 digits (ex. 123456789)"/>
    
                    <span></span>
    
                    <div *ngIf="afm3.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="afm3.errors['required']">Member 3 afm is required</div>
                        <div *ngIf="afm3.errors['minlength']"> Afm must be 9 digits</div>
                        <div *ngIf="afm3.errors['maxlength']">Afm must be 9 digits</div>
                    </div>
                </div>
    
                <!-- Member 4 afm -->
                <div class="form-group">
                    <label for="afm4">Member 4 afm</label>
    
                    <input (keypress)="numberOnly($event)" type="text" name="afm4" [(ngModel)]="form.afm4" required
                        minlength="9" maxlength="9" #afm4="ngModel" [ngClass]="{ 'is-invalid': f.submitted && afm4.errors }"
                        class="form-control" placeholder="Afm must be 9 digits (ex. 123456789)"/>
    
                    <span></span>
    
    
                    <!-- Invalid Input Messages -->
                    <div *ngIf="afm4.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="afm4.errors['required']">Member 4 afm is required</div>
                        <div *ngIf="afm4.errors['minlength']"> Afm must be 9 digits</div>
                        <div *ngIf="afm4.errors['maxlength']">Afm must be 9 digits</div>
                    </div>
                </div>
    
                <!-- Contract Text -->
                <div class="form-group">
                    <label for="text">Contract text</label>
    
                    <textarea class="form-control" type="text" name="text" [(ngModel)]="form.text" required minlength="10"
                        maxlength="255" #text="ngModel" [ngClass]="{ 'is-invalid': f.submitted && text.errors }" 
                        placeholder="This is a new contract"></textarea>
                    <span></span>
    
                    <!-- Invalid Text Message -->
                    <div *ngIf="text.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="text.errors['required']">Contract text is required</div>
                        <div *ngIf="text.errors['minlength']">Contract text must be at least 10 characters</div>
                        <div *ngIf="text.errors['maxlength']">Contract must be at most 255 characters</div>
                    </div>
                </div>
            </div>
    
            <div class="container">
                <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>