h1 {
    position: absolute;
    padding-bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form-group {
    /* margin-top: 2%; */
  }
  
  .container {
    padding-bottom: 10vh;
  }

  .container-fluid {
    margin-top: 13vh; 
    color: white;
  }

  .button {
    margin-top: 1vh;
  }

