<div class="container">

  <div class="container container-fluid">
    <div class="button-wrapper">

      <!-- User List -->
      <button *ngIf="isAdmin" class="btn btn-primary btn-lg btn-block" [routerLink]="'/users'">User List</button>

      <!-- Contract List -->
      <button *ngIf="isAdmin || isNotary" class="btn btn-primary btn-lg btn-block" [routerLink]="'/contracts'">Contract
        List</button>

      <!-- Create Contract -->
      <button *ngIf="isLawyer" class="btn btn-primary btn-lg btn-block" [routerLink]="'/create-contract'">Create
        Contract</button>

      <!-- View Contract -->
      <button *ngIf="isLawyer || isClient" class="btn btn-primary btn-lg btn-block" [routerLink]="'/my-contract'">View
        Contract</button>

      <!-- Create User -->
      <button *ngIf="isAdmin" class="btn btn-primary btn-lg btn-block" [routerLink]="'/create-user'">Create User</button>

      <!-- View Profile -->
      <button class="btn btn-primary btn-lg btn-block" [routerLink]="'/my-profile'">View Profile</button>
    
    </div>
  </div>

  <app-identification *ngIf="isLoggedIn"></app-identification>
  
</div>

